*{
    padding: 0;
    margin: 0;
}
h1{
    height:8vh;
    width:97vw;
    background-color: darksalmon;
    border-radius: 40px;
    text-align: center;
    padding-top: 15px;
    border:5px solid rgb(34, 30, 30);
    margin-left: 5px;
    margin-top: 10px;
}
img{
    height:26vh;
    width:22vw;
    border: 5px solid black;
}
.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
button{
    height:25px;
    width:10vw;
    border-radius: 10px;
}

nav,ul,li,.addr{
    display: flex;
}
nav{
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 7px;
    margin-bottom: 10px;
    height:50px;
    width: 1338px;
    align-items: center;
    background-color:rgb(202, 120, 92);
    border-radius: 10px;
    color: black;
}
h3{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
.sub2{
    height:38vh;
    width: 97.5vw;
    background-color: rgb(211, 158, 140);
    margin:10px;
    display:flex;
    justify-content: space-evenly;
}
a{
    padding-left: 10px; 
    color: black;
}
.addr,ul{
    height:30px;
    width:450px;
    justify-content: space-evenly;
    padding-right: 10px;
    align-items: center;
}
